.resetPassword {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.pexels.com/photos/1925536/pexels-photo-1925536.jpeg?cs=srgb&dl=pexels-lil-artsy-1925536.jpg&fm=jpg");
    background-size: cover;
}

.resetPasswordWrap {
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resetPasswordTitle {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(27, 27, 27);
}

.resetPasswordForm {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.resetPasswordForm>label {
    margin: 7px 0;
    font-size: 18px;
    font-weight: bold;
}

.resetPasswordForm>input {
    padding: 10px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}


.resetPasswordForm>input:focus {
    outline: none;
}

.resetPasswordButton {
    margin-top: 15px;
    font-size: 16px;
    padding: 7px;
    background-color: rgb(252, 121, 121);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.resetPasswordButton:disabled {
    cursor: not-allowed;
    background-color: rgb(245, 150, 150);
}